<h2>Chat demo app</h2>
<input
    id="chat-message-text"
    type="text"
    style="width: 100%; margin: 10px 0; padding:5px 10px;"
    placeholder="Enter a message.." />

<div id="chat-history"></div>
