<h2 style="margin-bottom: 10px;">Chat demo app</h2>

<input
    id="chat-username"
    type="text"
    style="width: 100%; margin-bottom: 10px; padding:5px 10px;"
    placeholder="Enter your name.." /><br />

<input
    id="chat-message-text"
    type="text"
    style="width: 100%; margin-bottom: 10px; padding:5px 10px;"
    placeholder="Enter a message.." />

<div id="chat-history"></div>
